:root{
    --primarycolour:#226caa;
    --primarycolourvariant: rgba(0, 76, 255, 0.2);
    --colourwhite: #fff;
    --colourDark: #4b4a53;
    --colourlight: #f5f5f5;
    --colourblack: #0f0f1b;
    --transition: all 400 ease;

    --container-width-mobile: 82%;
    --container-width-tablet: 90%;
    --container--width-desktop: 92%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    line-height: 1.7;
    color: var(--colourDark);
}
/*--------------General Stylings---------------------*/
h1,h2,h3,h4,h5{
    color: var(--colourblack);
}
h1{
    font-size: 4.4rem;
    line-height: 1.1;
}
h2{
    font-size: 2.2rem;
}
h3{
    font-size: 1.8rem;
}
h4{
    font-size: 1.2rem;
}
h5{
    font-size: 0.8rem;;
}
.para{
    width: 60%;
    line-height: 1.5;
    margin: 0 auto 3rem;
}
img{
    width: 100%;
}
.container{
    width: var(--container--width-desktop);
    max-width: 1800px;
    margin: 0 auto;
}
section{
    padding: 6rem 0;
    margin: 5rem 0;
}
.btn{
    background-color: var(--colourblack);
    color: var(--colourwhite);
    width: fit-content;
    display: inline-block;
    padding: 0.8rem 1.2rem;
    border: 1px solid transparent;
    cursor: pointer;
    transition: var(--transition);
}
.btn:hover{
    background-color: var(--colourwhite);
    color: var(--colourblack);
}
.btn-primary{
    background-color: var(--primarycolour);
    color: white;
}
.btn:hover{
    border-color: var(--primarycolour);
    background-color: var(--colourlight);
    color: var(--primarycolour);
}
.btn-book{
    padding: 1.1rem 2rem;
    font-size: 1.2rem;
}

/*=========STYLING THE NAVBAR++++++++++++++*/
nav{
    width: 100vw;
    height: 5rem;
    display: grid;
    place-items: center;
    position: fixed;
    z-index: 2;
}
nav a{
    color: var(--colourblack);
    font-size: 1rem;
    transition: var(--transition);
}
nav a:hover{
    color: var(--primarycolour);
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}
.nav-logo{
    width: 15%;
    margin-top: 2rem;

}
nav button{
    display: none;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;
}
/*==========header===========*/
header{
    height: calc(100vh - 5rem);
    position: relative;
    top: 5rem;
    display: grid;
    place-items: center;
    overflow: hidden;
}
.hero-container{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100%;
}
header .header-left{
    display: flex;
    align-items: center;
    height: 100%;
}
.header-left h3{
    color: var(--primarycolour);
    margin-bottom: 0.5rem;
}
.header-left p{
    margin: 1.2rem 0 2rem;
}
.header-right{
    position: relative;
    height: 100%;
}
/*==========header===========
.right-background{
    width: 65rem;
    height: 65rem;
    background-color: var(--primarycolour);
    border-radius: 50%;
    position: absolute;
    right: -30rem;
    bottom: -30rem;
*/
.click-images{
    position: absolute;
    right: 3rem;
    bottom: 10rem;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.click-images img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: block;
    cursor: pointer;
    transition: var(--transition);
}
.click-images img:hover{
    transform: translateX(-1rem);
}
.ball{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--primarycolour);
    clip-path: circle(40rem at right);
}
.food-image img{
    width: 40%;
    position: absolute;
    bottom: -1rem;
    z-index: 1;
    
}